* {
    box-sizing: border-box;
    font-family: Radiance, "Noto Sans", sans-serif;
}
body {
    width: 100%;
    margin: 0;
    background-color: #0a0a0a;
}
a {
    text-decoration: none;
    color: inherit;
}
._2cvxxeAj5gGKb86simBsB- {
    width: 100%;
    height: 100%;
}
